.menu-btn {
  position: absolute;
  z-index: 3;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-nav {
  background: #373737;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #373737;
  list-style: none;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: #bbb;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: #bbb;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

@media screen and (max-width: 900px) {
  main .lg-heading {
    line-height: 0.7;
    margin-bottom: 1rem;
  }
  main .lg-heading #first-name {
    font-size: 7rem;
  }
  main .lg-heading #last-name {
    font-size: 5rem;
  }
  main .lg-sub-heading {
    margin-bottom: 3rem;
  }
  main .main-img {
    margin-top: 5rem;
    height: 300px;
    width: 300px;
  }
  .menu {
    opacity: 1;
  }
  ul.menu-nav {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    font-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  main .lg-heading {
    line-height: 0.5;
  }
  main .lg-heading #first-name {
    font-size: 5rem;
  }
  main .lg-heading #last-name {
    font-size: 3rem;
  }
  main .main-img {
    height: 275px;
    width: 275px;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: #444;
  color: #fff;
  margin: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin: 3rem 0 1rem 0;
  padding: 0 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #bbb;
}

main {
  padding: 4rem;
  height: 100%;
}
main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.4rem;
}
main .icons a:hover {
  color: #bbb;
  transition: all 0.5s ease-out;
}
main#home {
  overflow: hidden;
  align-items: center;
  text-align: center;
}
main#home .main-img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
