#main {
  /* display: flex; */
  display: block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1rem;
  height: 100%;
  line-height: 1.5;
}

#main-text {
  max-width: 350px;
  text-align: center;
  margin: 0 auto;
  /* margin: 0 60px; */
}

#main-img {
  position: relative;
  width: 275px;
  height: 275px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

#main-img img {
  position: absolute;
  height: 100%;
}

.icons {
  margin-top: 1rem;
}
.icons a {
  padding: 0.4rem;
}
.icons a:hover {
  color: #bbb;
  transition: all 0.5s ease-out;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #444;
  color: #fff;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

footer {
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: #bbb;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: -20px;
  line-height: 0.5;
}
h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.5;
}
h3 {
  margin: -15px 0 4rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 0.5;
  color: #bbb;
}
h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 3rem 0 1.2rem 0;
  padding: 0 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

/* About */
.about-main {
  /* position: relative; */
  text-align: center;
}
#about-main-img {
  width: 80%;
  margin-top: 50px;
  border-radius: 50%;
}
.about-header {
  /* margin-top: -125px; */
  font-size: 2.5rem;
  opacity: 0.9;
  margin: 25px auto;
  border: 1px solid white;
  border-radius: 10px;
  padding: 12px 0;
  width: 70%;
}
.about-body {
  margin: 0 auto;
  width: 90%;
  text-align: justify;
}

/* Menu */
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  opacity: 1;
}
.menu.show {
  visibility: visible;
}
.menu-nav {
  background: #373737;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #373737;
  list-style: none;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s ease-out;
  font-size: 24px;
  float: none;
  width: 100%;
  min-height: 0;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: #bbb;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: #bbb;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
