body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 7px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.green {
  background-color: green;
  border-top-left-radius: 200px;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 20%;
}

.red {
  background-color: red;
  border-top-left-radius: 20%;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 75px;
}

.blue {
  background-color: blue;
  border-top-left-radius: 75px;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 20%;
}

.yellow {
  background-color: yellow;
  border-top-left-radius: 20%;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 200px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width: 1024px) {
  .btn {
    height: 150px;
    width: 150px;
  }
}
